@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .get-app {
    @apply  relative  w-full  justify-center  overflow-hidden  bg-bg-cta bg-cover bg-center bg-no-repeat px-6 py-12 text-white  sm:py-24 lg:px-20 xl:max-h-[598px] ;
  }
}
